.col {
  @include col;
  @include tablet {
    margin: 0;
    padding: 0;
    border: 0;
    float: none;
  }
  @include phone {
    margin: 0;
    padding: 0;
    border: 0;
    float: none;
  }
  @include small-phone {
    margin: 0;
    padding: 0;
    border: 0;
    float: none;
  }
}

.row {
  @include clearfix;
  display: block;
}

.container {
  @include clearfix;
  display: block;
  margin: 0 auto;
  position: relative;

  @include small-phone {
    padding: 20px;
  }
  @include phone {
    min-width: $small-phone + 20px;
    padding: 20px;
  }
  @include tablet {
    min-width: $phone + 20px;
    padding: 20px;
  }
  @include desktop {
    width: 788px;
  }
  @include wide-desktop {
    width: 980px;
  }

}

@include wide-desktop {

  .col {
    @include clearfix;
    margin-left: 2%;
    padding: 0 1%;
  }

  /* --- variables ---*/
  $max_columns: 11;
  $padding: 0 1%;
  $gutter_px: 0;
  $gutter_pc: 2%;

  .row .col:first-child {
    @include span-first;
  }

  .span-1 {
    @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-2 {
    @include span(2, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-3 {
    @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-4 {
    @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-5 {
    @include span(5, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-6 {
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-7 {
    @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-8 {
    @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-9 {
    @include span(9, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-10 {
    @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-11 {
    @include span-first;
    width: 100%;
  }
}

@include desktop {

  .col {
    @include clearfix;
    margin-left: 2%;
    padding: 0 1%;
  }

  /* --- variables ---*/
  $max_columns: 11;
  $padding: 0 1%;
  $gutter_px: 0;
  $gutter_pc: 2%;

  .row .col:first-child {
    @include span-first;
  }

  .span-1 {
    @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-2 {
    @include span(2, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-3 {
    @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-4 {
    @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-5 {
    @include span(5, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-6 {
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-7 {
    @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-8 {
    @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-9 {
    @include span(9, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-10 {
    @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span-11 {
    @include span-first;
    width: 100%;
  }
}

