/* helper classes */

.visible-wide-desktop {
  display: none;
  @include wide-desktop {
    display: block !important;
  }
}

.visible-desktop {
  display: none;
  @include desktop {
    display: block !important;
  }
}

.visible-tablet {
  display: none;
  @include tablet {
    display: block !important;
  }
}

.visible-phone {
  display: none;
  @include phone {
    display: block !important;
  }
}

.visible-small-phone {
  display: none;
  @include small-phone {
    display: block !important;
  }
}

.hidden-wide-desktop {
  @include wide-desktop {
    display: none;
  }
}

.hidden-desktop {
  @include desktop {
    display: none;
  }
}

.hidden-tablet {
  @include tablet {
    display: none;
  }
}

.hidden-phone {
  @include phone {
    display: none;
  }
}

.hidden-small-phone {
  @include small-phone {
    display: none;
  }
}