/* background colors */
$background-light-color: #f2f2f2;
$background-white-color: #ffffff;
$background-medium-color: #666666;

/* text color */
$text-white-color: #ffffff;
$text-light-color: #999999;
$text-medium-color: #666666;
$text-dark-color: #333333;

/* layout */
$border-color: #cccccc;

/* button color */
$button-light-color: #656565;
$button-dark-color-start: #666666;
$button-dark-color-end: #000000;

/*media queries*/
$small-phone: 320px;
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$wide-desktop: 1200px;