/* carousel images */
@mixin carousel-image($url) {
  @include background-size(cover);
  background: {
    image: image-url($url);
    repeat: no-repeat;
  }
  height: image-height($url);
  display: inline-block;
}

/* carousel mixins */
@mixin carousel-arrow-nav {
  z-index: 1;
  position: absolute;
  top: ((image-height("carousel/carousel-001.jpg")/2)-(26px));
  background-color: $background-white-color;
  border: 1px solid $border-color;
  &:hover {
    background-color: darken($background-white-color, 10%);
    cursor: pointer;
  }
}

@mixin showcase-arrow-nav {
  z-index: 1;
  position: absolute;
  bottom: 245px;
  background-color: $background-white-color;
  border: 1px solid $border-color;
  &:hover {
    background-color: darken($background-white-color, 10%);
    cursor: pointer;
  }
}

