/* gradients */

@mixin button-gradient($button-color-start, $button-color-end) {
  background: $button-color-end;
  background: -moz-linear-gradient(top, $button-color-start 0%, $button-color-end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $button-color-start), color-stop(100%, $button-color-end));
  background: -webkit-linear-gradient(top, $button-color-start 0%, $button-color-end 100%);
  background: -o-linear-gradient(top, $button-color-start 0%, $button-color-end 100%);
  background: -ms-linear-gradient(top, $button-color-start 0%, $button-color-end 100%);
  background: linear-gradient(to bottom, $button-color-start 0%, $button-color-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-start', endColorstr='$button-color-end', GradientType=0)
}

@mixin inset-gradient($color) {
  -webkit-box-shadow: inset 0px 0px 15px 0px $color;
  -moz-box-shadow: inset 0px 0px 15px 0px $color;
  box-shadow: inset 0px 0px 15px 0px $color;
}