/* align mixins */

@mixin align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin align-center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin align-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}