

/* images */
@mixin background-image($url) {
  @include background-size(cover);
  background: {
    image: image-url($url);
    repeat: no-repeat;
  }
  width: image-width($url);
  height: image-height($url);
  display: inline-block;
}


@mixin image($url, $url2x) {
  background: {
    image: image-url($url);
    repeat: no-repeat;
  }
  width: image-width($url);
  height: image-height($url);
  display: inline-block;

  @if $url2x {
    @include image-2x($url2x);
  }
}