/* clearfix */
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* responsive */
@mixin small-phone {
  @media (min-width: 0) and (max-width: $phone) {
    @content;
  }
}

@mixin phone {
  @media (min-width: $phone) and (max-width: $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) and (max-width: $wide-desktop) {
    @content;
  }
}

@mixin wide-desktop {
  @media (min-width: $wide-desktop) {
    @content;
  }
}