/*  import fonts */

@font-face {
  font-family: "Knockout light";
  src: font-url('ttf/KNOC29JL.TTF');
  src: font-url('knoc29jl-webfont.eot') format('eot'),
  font-url('knoc29jl-webfont.woff') format('woff'),
  font-url('knoc29jl-webfont.woff2') format('woff2'),
  font-url('knoc29jl-webfont.ttf') format('truetype'),
  font-url('knoc29jl-webfont.svg') format('svg');
}

@font-face {
  font-family: "Knockout normal";
  src: font-url('ttf/KNOCK49L.TTF');
  src: font-url('knock49l-webfont.eot') format('eot'),
  font-url('knock49l-webfont.woff') format('woff'),
  font-url('knock49l-webfont.woff2') format('woff2'),
  font-url('knock49l-webfont.ttf') format('truetype'),
  font-url('knock49l-webfont.svg') format('svg');
}

/* Header styles */

@mixin h1($text-color) {
  font-family: 'knockout normal', Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
  margin: .5em 0;
  @include font-smoothing();
}

@mixin h2($text-color) {
  font-family: 'Knockout light', Helvetica, Arial, sans-serif;
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
  margin: .5em 0;
  color: $text-color;
  @include font-smoothing();
}

@mixin h3($text-color) {
  font-family: 'Knockout normal', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
  margin: 0 0 0.5em;
  @include font-smoothing();
}

@mixin h4($text-color) {
  font-family: 'Knockout normal', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
  margin: 0 0 0.5em;
  @include font-smoothing();
}

/* other text styles */

@mixin list-item-text($text-color) {
  font-family: 'Knockout light', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color;
  @include font-smoothing();
}

@mixin paragraph-text($text-color) {
  font-family: 'knockout light', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: $text-color;
  line-height: 1.2em;
  @include font-smoothing();
}

@mixin paragraph-text-bold($text-color) {
  font-family: 'knockout light', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $text-color;
  @include font-smoothing();
}

@mixin link-text($text-color) {
  font-family: 'knockout light', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $text-color;
  @include font-smoothing();
}

@mixin footer-text($text-color) {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: $text-color;
  @include font-smoothing();
}

/* font smoothing */

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}