h1 {
  @include h1($text-dark-color);
}

h2 {
  @include h2($text-dark-color);
}

h3 {
  @include h3($text-medium-color);
}

ul li {
  @include list-item-text($text-medium-color);
}

p {
  @include paragraph-text($text-medium-color);
  b {
    @include paragraph-text-bold($text-medium-color);
  }
}

a {
  @include link-text($text-light-color);
}