.about {
  .website-list {
    @include desktop {
      padding: 0;
    }
    @include wide-desktop {
      padding: 0;
    }
    margin: 0;
    li {
      a {
        @include list-item-text($text-medium-color);
        &:hover {
          @include list-item-text($text-dark-color);
        }
      }
    }
  }

  .pdf-download-link {
    padding: 10px 0;
    line-height: 2em;
  }
}