.button {
  padding: 10px 40px;
  display: inline-block;
  text-transform: uppercase;
  @include h4($text-dark-color);
}

.medium-button {
  color: $text-white-color;
  border: 0;
  background: $background-medium-color;
  padding: 2px 10px;
  span {
    margin: 0px 0 1px 4px;
  }
}

.dark-button {
  color: $text-white-color;
  border: 0;
  @include button-gradient(#666, #000);
}