/* control nav */

.carousel-control-nav {
  padding: 0;
  @include align-center-horizontal;
  bottom: 15px;
  margin:0;

  li {
    text-indent: 9999px;
    color: white;
    display: inline-block;
    padding: 0 5px;
    a {
      text-indent: 9999px;
      color: white;
      height: 10px;
      width: 10px;
      background: $background-white-color;
      border-radius: 10px;
      display: block;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
      cursor: pointer;
      &.carousel-active {
        background: darken($background-white-color, 30%);
      }
    }
  }
}

/* direction nav */

.carousel-direction-nav {
  list-style: none;

  .carousel-nav-prev {
    @include carousel-arrow-nav();
    left: -22px;

    @include desktop {
      top: 40%
    }

    @include tablet {
      top: 40%;
      left: 0;
    }

    @include phone {
      top: 40%;
      left: 0;
    }

    @include small-phone {
      top: 40%;
      left: 0;
    }

    .carousel-prev {
      @include image('1x/arrow_left.png', '2x/arrow_left.png');
      text-indent: -9999px;
      padding: 25px 15px;
      background-position: center center;
    }
  }
  .carousel-nav-next {
    @include carousel-arrow-nav();
    right: -21px;

    @include desktop {
      top: 40%;
    }

    @include tablet {
      top: 40%;
      right: 0;
    }

    @include phone {
      top: 40%;
      right: 0;
    }

    @include small-phone {
      top: 40%;
      right: 0;
    }

    .carousel-next {
      @include icon("1x/arrow_right.png");
      text-indent: -9999px;
      padding: 25px 15px;
      background-position: center center;
    }
  }
}