.carousel-wrapper {
  position: relative;

  .container {
    display: block;
    padding: 10px;
  }
}

.carousel-container {
  padding: 0;

  .slides {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;

    li {
      list-style: none;
      padding: 0;
      margin: 0;
      opacity: .5;
      transition: all .5s;

      &.carousel-active-slide {
        opacity: 1;
      }

      .carousel-item {
        width: 100%;
        height: auto;
      }
    }

  }
}

.carousel-viewport {
  overflow: visible !important;

  .carousel-active-slide {
    opacity: 1;
  }

}