.contact {
  margin-top: 50px;

  .form-group {
    margin-bottom: 20px;
    .col {
      padding-left: 0;
    }
  }
  label {
    @include paragraph-text($text-light-color);
    &.required:after {
      content: "*";
      padding-left: 3px;
    }
  }
  .valid {
    background: yellowgreen;
  }
  .invalid {
    background: red;
  }
  input {
    padding: 5px 10px;
    width: 100%;
    border: 0;
    @include inset-gradient($border-color);
  }
  .error {
    display: none;
  }
  .error-show {
    display: inline-block;
    margin: 1px 0;
    background-color: #F5E3E3;
    padding: 5px 10px;
    width: 100%;
  }
}