.up-arrow-icon {
  @include icon("1x/arrow_up.png");
  @include image-2x("2x/arrow_up.png");
}

.down-arrow-icon {
  @include icon("1x/arrow_down.png");
  @include image-2x("2x/arrow_down.png");
}

.right-arrow-icon {
  @include icon("1x/arrow_right.png");
  @include image-2x("2x/arrow_right.png");
}
