.logo-wrapper {
  padding: 20px 0 30px;
  .logo-image {
    background: {
      image: image-url("1x/yoox_group.png");
      repeat: no-repeat;
      color: $background-white-color;
    }

    width: image-width("1x/yoox_group.png");
    height: image-height("1x/yoox_group.png");

    @include image-2x("2x/yoox_group.png");
  }
}