.news {
  .news-item {
    &:first-child {
      border-top: 1px solid $border-color;
    }
    display: table;
    background: $background-light-color;
    border-bottom: 1px solid $border-color;

    @include tablet {
      padding: 20px;
    }
    @include phone {
      padding: 20px;
    }
    @include small-phone {
      padding: 20px;
    }

  }
  .collapse-buttons {
    float: right;
    margin-top: 10px;
  }

  .collapse {
    display: none;
    opacity: 0;
  }
  
  .collapse-in {
    display: block;
    opacity: 1;
  }
}