.showcase {
  padding-top: 35px;

  .container {
    @include small-phone {
      display: block;
    }
  }
}

/* side navigation */

.showcase-selection-container {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-top: 1px solid $border-color;

  .showcase-selection-item {
    padding: 2px 10px;
    background-color: $background-light-color;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &:hover {
      background-color: darken($background-light-color, 10%);
    }

    @include tablet {
      width: 100%;
      display: inline-block;
    }
    @include phone {
      width: 100%;
      display: inline-block;
    }
    @include small-phone {
      width: 100%;
      display: inline-block;
    }

    .showcase-selection-text {
      @include h2($text-dark-color);
      display: inline-block;
      margin: .45em 0;
      font-size: 24px;
    }
    span {
      float: right;
      margin-top: 9px;
    }
    &.active {
      background-color: $background-white-color;
    }
  }
}
