/* showcase big image */

.showcase-content {
  position: relative;
  @include inset-gradient($border-color);
  height: 503px;

  .showcase-slides {
    padding: 0;
  }

  /* main image */
  &-lead-image {
    height: 503px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .showcase-viewport {
    height: 503px;
    padding: 0;
    margin: 0;
    border: 0;

    .slides {
      padding: 0;
      margin: 0;
      position: relative;
      li {
        text-align: center;
      }
    }
  }

}

/* showcase big image navigation */

.showcase-direction-nav {
  list-style: none;
  position: relative;

  .showcase-nav-prev {
    @include showcase-arrow-nav();
    left: 0;

    .showcase-prev {
      @include icon('1x/arrow_left.png');
      text-indent: -9999px;
      padding: 15px 10px;
      background-position: center center;
    }
  }
  .showcase-nav-next {
    @include showcase-arrow-nav();
    right: 0;

    .showcase-next {
      @include icon("1x/arrow_right.png");
      text-indent: -9999px;
      padding: 15px 10px;
      background-position: center center;
    }
  }
}

/* thumbnails */

.showcase-content {

  .showcase-thumbs {
    position: absolute;
    bottom: 5px;
    li {
      width: 80px !important;
      margin-right: 5px;
      @include desktop {
        width: 65px !important;
      }
    }
  }

  &-thumb {
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    @include desktop {
      height: 100px;
    }
    @include small-phone {
      height: 90px;
    }
  }
}