.thumbs-viewport {
  .slides {
    border: 0;
    padding: 0;
    margin: 0;
    &.inline li {
      display: inline;
    }

    li {

      @include tablet {
        padding-right: 15px;
      }

      .showcase-content-thumb {

        @include tablet {
        }

      }
    }

  }
}