body {
  overflow-x: hidden;
}

.device-detector {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: rgba(0, 0, 0, .1);;
  list-style: none;
  padding: 10px 20px;

  li {
    text-align: center;
    color: white;
  }
}